@media (min-width: 1680px) {
  body {
    font-size: 3em;
  }

  h1 {
    text-align: center;
  }

  .frame-flex {
    display: flex;
    background-color: rgb(67, 38, 38);
    height: calc(400px * 2);
    width: calc(700px * 2);
    flex-direction: column;
    margin: 0 auto;
  }

  #sun {
    background-color: yellow;
    width: calc(125px * 2);
    height: calc(125px * 2);
    border-radius: 50%;
    position: absolute;
    margin: calc(195px * 2) 0 0 calc(565px * 2);
  }

  #sky {
    background: linear-gradient(
      0deg,
      rgba(234, 198, 51, 1) 0%,
      rgba(211, 145, 37, 0.4513513513513514) 56%,
      rgb(19, 13, 115) 100%
    );
    flex: 2;
    margin: calc(10px * 2) calc(10px * 2) 0 calc(10px * 2);
  }

  #water {
    background: linear-gradient(
      0deg,
      rgb(24, 27, 61) 0%,
      rgba(187, 110, 69, 0.451) 56%,
      rgba(218, 86, 25, 1) 100%
    );
    flex: 1;
    margin: 0 calc(10px * 2) calc(10px * 2) calc(10px * 2);
    z-index: 1;
  }
  #leaf1 {
    border-left: calc(30px * 2) solid rgb(36, 81, 26);
    border-top-left-radius: 90%;
    border-bottom-left-radius: 90%;
    height: calc(150px * 2);
    width: calc(150px * 2);
    position: absolute;
    margin: calc(140px * 2) 0px 0 calc(105px * 2);
    z-index: 4;
    rotate: 100deg;
  }
  #leaf2 {
    border-left: calc(30px * 2) solid rgb(36, 81, 26);
    border-top-left-radius: 90%;
    border-bottom-left-radius: 90%;
    height: calc(150px * 2);
    width: calc(150px * 2);
    position: absolute;
    margin: calc(100px * 2) 0px 0 calc(55px * 2);
    z-index: 4;
    rotate: 150deg;
  }

  #wing1 {
    border-left: calc(5px * 2) solid rgb(22, 23, 22);
    border-top-left-radius: 90%;
    border-bottom-left-radius: 90%;
    height: calc(25px * 2);
    width: calc(25px * 2);
    position: absolute;
    margin: calc(0px * 2) 0 0 calc(0px * 2);
    z-index: 2;
    rotate: 90deg;
  }
  #wing2 {
    border-left: calc(5px * 2) solid rgb(22, 23, 22);
    border-top-left-radius: 90%;
    border-bottom-left-radius: 90%;
    height: calc(25px * 2);
    width: calc(25px * 2);
    position: absolute;
    margin: 0 0 0 calc(18px * 2);
    z-index: 2;
    rotate: 90deg;
  }
  #bird {
    margin: calc(245px * 2) 0 0 calc(530px * 2);
    position: absolute;
  }

  #trunk {
    border-left: calc(30px * 2) solid rgb(89, 44, 28);
    border-top-left-radius: 90%;
    border-bottom-left-radius: 10%;
    height: calc(200px * 2);
    width: calc(100px * 2);
    position: absolute;
    margin: calc(120px * 2) 0px 0 calc(100px * 2);
    z-index: 3;
    rotate: 20deg;
  }

  #beach {
    background-color: rgb(142, 110, 72);
    position: absolute;
    height: calc(150px * 2);
    width: calc(300px * 2);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 20%;
    margin: calc(200px * 2) 0 0 calc(10px * 2);
    z-index: 2;
  }

  #div_form {
    background-color: rgb(191, 203, 203);
    width: calc(470px * 2);
    height: calc(225px * 2);
    border-radius: 2%;
    padding: calc(15px * 2);
    margin: calc(15px * 2) auto;
  }
  #div_form > h2 {
    padding: 0;
    margin: 0;
  }
  input {
    margin: calc(5px * 2);
    width: calc(200px * 2);
    height: calc(25px * 2);
  }
  label{
    margin: calc(30px * 2);
  }
  input[type=submit]{
    font-size: 0.7em;
    width: calc(100px * 2);
    height: calc(25px * 2);
  }
}
