.main_content {
    margin-top: 40px;
    min-height: 710px;
  }

/* Parent Pop up Div */
#myContactForm{
    display: none;
}
.form_popup{
    background-color: var(--fontColor2);
    box-shadow: var(--shadowPrimary);
    position: fixed;
    bottom: 150px;
    left: 50px;
    z-index: 9;
    font-size: 1.4rem;
}
.form_container{
    min-width: 350px;
    padding: 20px;
}

.form_container h1{
    margin-bottom: 20px;
}

.form_container input[type=text], input[type=email]{
    background: var(--bgPrimaryColor);
    padding: 3px;
    border-radius: 4px;
    margin: 10px 0 0 10px;
    border: 1px solid var(--borderColor);
    font-size: 1.3rem;
}

.form_container input[type=text]:focus, input[type=email]:focus{
    background-color: var(--bgSecondaryColor);
    outline: none;
}

#input_message{
    margin: 0;
    width: 100%;
    background: var(--bgPrimaryColor);
    border-radius: 4px;
    font-size: 1.2rem;
    resize: none;
}

#input_message:focus{
    background-color: var(--bgSecondaryColor);
    outline: none;

}

.btn_form{
    cursor: pointer;
    margin-top: 15px;
}

.cancel{
    margin-left: 80px;
    background-color: var(--secondaryColor);
    color: var(--fontColor2);
}