.topDiv-flex {
  display: flex;
  margin: 0 auto;
  width: 600px;
  /* height: 400px; */
  background-color: rgba(255,255,255,0.7);
  padding-right: 10px;
  border-bottom-left-radius:50%;
  border-top-right-radius: 50%;
}
.topDiv-flex div{
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 50px;
    text-align: center;
}
#portrait{
    height: 200px;
}

.main-content{
    background-color: white;
    margin: 40px 15%;
    box-shadow: 5px 5px 10px rgb(38, 32, 32);
    border: 1px solid rgb(162, 138, 138);
    padding: 40px;
}



