.topDiv_flex {
  display: flex;
  margin: 0 auto;
  width: 50%;
  background-color: var(--bgColorTertiary);
  border-bottom-left-radius: 200px;
  border-top-right-radius: 50%;
}
.topDiv_flex div {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0 60px 0px 50px;
  text-align: center;
}
#portrait {
  height: 200px;
}
li {
  padding-bottom: 20px;
  width: 80%;
}
@media (max-width: 950px) {
  .topDiv_flex {
    flex-direction: column;
  }
  .topDiv_flex div {
    padding: 0 60px 0 10px;
    margin: 0;
  }
}
