body {
  margin: 0;
  background-image: url("../images/body_bg_image.png");
  background-repeat: no-repeat;
  background-size: 180%;
  background-color: rgb(190, 190, 190);
  background-attachment: fixed;
  background-position: center;
}
#bg_gradient {
  background-color: rgb(white, white, white);
  background: linear-gradient(
    0deg,
    rgba(64, 48, 48, 0.8) 5%,
    rgba(255, 255, 255, 0) 58%,
    rgba(255, 255, 255, 1) 89%
  );
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  top: 0;
}
nav {
  background-color: rgb(255, 255, 255);
  /* border-bottom: 2px solid rgb(222, 222, 222); */
  overflow: hidden;
  /* width: 100%; */
  /* text-align: right; */
  /* padding: 2% 0% 2% 0% ; */
}
nav a {
  float: right;
  text-align: center;
  margin-left: 2%;
  background-color: rgb(237, 240, 240);
  padding: 3% 2% 2.5% 2%;
  width: 70px;
  text-decoration: none;
  font-size: 1.06em;
  color: black;
}
nav a:hover{
    background-color: rgb(145, 125, 125);
    color: white;
}
nav a.active{
    background-color: rgb(127, 144, 170);
    color: white;
}
nav a:visited{
    color:black;
}
header{
    text-align: center;
}
