.main_content {
  margin-top: 40px;
  min-height: 410px;
}
#topDiv {
  margin: 0 auto;
  width: 600px;
  /* height: 400px; */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 50px;
}