.main_content {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  min-height: 410px;
  width: 70%;
}
#topDiv {
  text-align: center;
  margin: 0 auto;
  width: 600px;
  /* height: 400px; */
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 50px;
}
.cards{
  text-align: center;
}
.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #03a688;
  padding: 20px 0 20px 20px;
  row-gap: 20px;
}
.grid_item {
  background-color: #f2668b;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  width: 90%;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(38, 32, 32);

}
.grid_item:hover {
  position: fixed;
  width: 40%;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.grid_item img {
  width: 100%;
  border-radius: 5px;
}
.grid_item p {
  display: none;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bolder;
}
.grid_item:hover p {
  display: block;
}


