.main_content {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  min-height: 410px;
  width: 70%;
}
#topDiv {
  text-align: center;
  margin: 0 auto;
  width: 65%;
  background-color: var(--bgColorTertiary);
  padding: 20px;
  border-radius: 50px;
}
.cards{
  text-align: center;
}
.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--color4);
  padding: 20px 15px 20px 15px;
  row-gap: 20px;
  
}
.grid_item {
  background-color: var(--secondaryColor);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  width: 90%;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadowPrimary);

}
.grid_item div{
  background-color: var(--primaryColor);
  border-radius: 5px;
}
.grid_item div:hover {
  position: fixed;
  width: 40%;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.grid_item img {
  width: 100%;
  border-radius: 5px;
}
.grid_item p {
  display: none;
  font-size: 1.2rem;
  color: var(--fontColor2);
  font-weight: bolder;
}
.grid_item div:hover p {
  display: block;
}


